@import url('https://fonts.googleapis.com/css2?family=Abel&family=Doppio+One&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-main: "Inter", sans-serif;
    --default-color: #212121;
    --main-color: #D9AE30;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--default-color);
}

/* section {
    width: 100%;
    height: 100vh;
} */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    background-color: #212121;
    height: 86px;
    padding: 0 40px;
    width: 100%;
}

.image__logo {
    max-width: 356px;
    max-height: 58px;
}

.list__menu {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-right: 90px;
}

.link__menu {
    font-family: "Abel", sans-serif;
    font-size: 1.2em;
    color: #ffffff;
}

.first__session {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-image: url(image/foto-estudando\ 1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    height: 100vh;
    

}
.initial__text {
    font-family: var(--font-main);
    font-weight: 200;
    font-size: 1.3em;
}

.text__name {
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 70px;
    padding: 15px 0;
}

.text__cargo {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 36px;
}

.contact__images {
    display: flex;
    gap: 30px;
    margin: 30px 0;
}

.scroll__text {
    font-family: "Inconsolata", monospace;
    position: absolute;
    color: #c4c4c4bd;
    bottom: 10%;
    right: 50%;
}

.linha__vertical {
    position: absolute;
    bottom: 2%;
    right: 50%;
    width: 2px;
    /*espessura*/
    height: 50px;
    /*altura*/
    background-color: #c4c4c4bd;
    margin: 0 20px;
}

/*segunda sessao*/
.second__session {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.effect__text {
    font-family: "Doppio One", sans-serif;
    font-size: 64px;
    text-align: center;
    color: var(--main-color);
}

