@media screen and (max-width: 768px) {

    .image__logo {
        display: none;
    }

    .header {
        background-color: transparent;
        position: fixed;
        backdrop-filter: blur(0px);
        width: 100%;
        padding-left: 30px;
        border: none;
    }

    .list__menu {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        background: #212121;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 40px;

        opacity: 0;
        pointer-events: none;
        transform: translateY(-20px);
        transition: all 0.4s ease;
    }

    .list__menu.open {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    .link__menu {
        margin-left: 30px;
        font-size: 2em;
    }

    .hamburger {
        display: flex;
    }


    .first__session{
        background: url("/image/oevem05.png");
        background-size: cover;
        background-position: center center  ;
        height: 100vh;
    }

    .first__session div {
        padding-top: 20px;
    }

    .initial__text {
        font-weight: 200;
        font-size: 1.2em;
    }

    .text__name {
        font-size: 2.2em;
        padding: 10px 0;
    }
    .text__cargo {
        font-weight: 500;
        font-size: 1.4em;
    }

    .scroll__text, .linha__vertical, .contact__images {
        display: none;
    }
    
   .effect__text{
        font-size: 2em;
    }
    .about-me__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-me__title{
        font-size: 2.2em;
    }

    .about-me__text {
        font-size: 1em;
        text-align: justify;
        font-weight: 200;
    }

    .about-me__link {
        font-size: 1em;
    }

    .img__oevem {
        width: 90%;
    }

    .project__container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .project__container__text {
        text-align: center;
        padding: 15px;

    }

    .project__name {
        margin-top: 20px;
    }
    
    .image__project {
        display: none;
    }
    
    hr {
        width: 350px;
        margin-bottom: 30px;
    }

    .project__link {
        font-size: 1em;
    }

    .fifth__session {
        width: 100%;
        height: 84vh;
        padding-top: 100px;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
    }

    .fifth__session div {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
    }

    .btn {
        font-size: 1.2em;
        text-align: center;
        margin: 0 30px;
    }

    .hr__contact {
        margin: 0 20px 40px 20px;
    }

    .contact__image {
        display: none;
    }
    .text {
        font-size: 2.6em;
        padding-left: 30px;
    }
    .footer {
        display: block;
        align-items: flex-start;
        margin-left: 30px;
        padding-bottom: 20px;
    }
}