@media screen and (max-width: 768px) {

    .image__logo {
        display: none;
    }

    .list__menu {
        position: absolute;
        top: 86px;
        right: 0;
        width: 100%;
        height: calc(100vh - 86px);
        background: #212121;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

        opacity: 0;
        pointer-events: none;
        transform: translateY(-20px);
        transition: all 0.4s ease;
    }

    .list__menu.open {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    .hamburger {
        display: flex;
    }


    .first__session{
        background: url("/image/oevem05.png");
        background-size: cover;
        background-position: center center  ;
        height: 100vh;
    }

    .initial__text {
        font-size: 1.2em;
    }

    .text__name {
        font-size: 2.2em;
    }
    .text__cargo {
        font-size: 1.4em;
    }

    .scroll__text, .linha__vertical, .contact__images {
        display: none;
    }



    .second__session, .third__session, .fourth-session__project, .fifth__session, .footer {
        display: none;
    }
}